<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f686e981-3d83-44b4-b018-04b3ada7db96/resourcegroups/DefaultResourceGroup-JNB/providers/Microsoft.Web/sites/ShoolsLMS20220313171354</ResourceId>
    <ResourceGroup>DefaultResourceGroup-JNB</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://shoolslms20220313171354.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>shoolslms20220313171354.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ShoolsLMS20220313171354</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ShoolsLMS20220313171354</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:shoolslmsdbserver.database.windows.net,1433;Initial Catalog=ShoolsLMS_db;User ID=Zamani@shoolslmsdbserver;Password=Group28!" Name="Data Source=tcp:shoolslmsdbserver.database.windows.net,1433;Initial Catalog=ShoolsLMS_db;User Id=Zamani@shoolslmsdbserver;Password=Group28!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ShoolsLMS.Models.ApplicationDbContext, ShoolsLMS" MigrationConfiguration="ShoolsLMS.Migrations.Configuration, ShoolsLMS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shoolslmsdbserver.database.windows.net,1433;Initial Catalog=ShoolsLMS_db;User Id=Zamani@shoolslmsdbserver;Password=Group28!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>